<div id="dispatch">
	<div class="row">
		<div class="well span7">
			<strong>Dispatch rule</strong>
			<div class="v10"></div>
			Enter a Groovy script.<br />The incoming request content is bound to
			<code>
				<a href="http://groovy.codehaus.org/groovy-jdk/java/lang/String.html">groovy.lang.String </a>request
			</code>
			.<br />The root node of the XML document is bound to
			<code>
				<a href="http://groovy.codehaus.org/api/groovy/util/slurpersupport/GPathResult.html">groovy.util.slurpersupport.GPathResult </a>root
			</code>
			.<br />The script must assign a string value to
			<code>template</code>
			.
			<form name="dispatchScript">
				<div class="btn-group pull-right">
					<button x-ng-click="fetch()" class="btn">
						<span><i class="icon-repeat"></i> Reload</span>
					</button>
					<button x-ng-click="submit()" class="btn">
						<span><i class="icon-upload"></i> Submit</span>
					</button>
				</div>
				<div class="v40"></div>
				<textarea name="script" x-ng-model="script" class="script-input span7" rows="10"></textarea>
			</form>
		</div>
	</div>
</div>