<div id="templates">
	<div class="row">
		<div class="well span8">
			<strong>Response template settings</strong>
			<div class="v10"></div>
			<div>Each template has a name and an extract script.</div>
			<div>
				When responding to a request, a template is chosen from the
				<code>template</code>
				value of the dispatch script.
			</div>
			<div class="v50"></div>
			<form name="addTemplate">
				<div class="control-group">
					<div class="controls">
						<div class="input-append">
							<input data-ng-model="templateName" data-ng-required="true" data-ng-pattern="/^\w{3,16}$/" class="input-large"
								placeholder="enter template name" type="text">
							<button data-ng-click="add()" data-ng-disabled="!addTemplate.$valid" class="btn add-on">Add template</button>
						</div>
					</div>
				</div>
			</form>
			<div class="v10"></div>
			<div class="row">
				<button data-ng-click="fetchTemplates()" class="btn span3">Fetch templates</button>
			</div>
			<div class="v50"></div>
			<table x-ng-show="templates.length > 0" class="table table-condensed">
				<tbody>
					<tr x-ng-repeat="template in templates">
						<td class="span5"><a href="#/templates/edit/{{template.name}}">{{template.name}}</a></td>
						<td class="span1"><a href="#/templates/script/{{template.name}}"><button class="btn btn-inverse">Edit
									script</button></a></td>
						<td class="span1"><button class="btn btn-danger" x-ng-click="deleteTemplate($index)">Delete</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>