<div id="templates">
	<div class="row">
		<div class="well span6">
			<strong>Response templates</strong>
			<div class="v10"></div>
			Each template has a name and an extract script.<br />When responding to a request, the response template is picked from the<span
				class="code"> template </span>value of the executed dispatch script.
			<div class="v25"></div>
			<form name="addTemplate">

				<div class="input-append">
					<input data-ng-model="templateName" data-ng-required="true" data-ng-pattern="/^\w{3,16}$/" class="input" placeholder="Template name"
						type="text">
					<button data-ng-click="add()" data-ng-disabled="!addTemplate.$valid" class="btn add-on">New template</button>
				</div>

			</form>
			<div class="row pull-right">
				<button data-ng-click="fetchTemplates()" class="btn">
					<span><i class="icon-repeat"></i> Reload</span>
				</button>
			</div>
			<div class="v40"></div>
			<table x-ng-show="templates.length > 0" class="table table-condensed">
				<tbody>
					<tr x-ng-repeat="template in templates">
						<td class="span3"><a href="#/templates/{{template.name}}">{{template.name}}</a></td>
						<td class="span2"><a href="#/templates/script/{{template.name}}"><button class="btn btn-mini btn-inverse pull-right">Edit
									script</button></a></td>
						<td class="span1"><button class="btn btn-mini btn-danger" x-ng-click="deleteTemplate($index)">Delete</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>